body{
    background-color: bisque;
}
#main{
    margin: auto;
    width: max-content;
    border: 2px solid black;
    background-color: white;
}
#nav{
    font-size: 19px;
    height: 20px;
    background-color: gray;
}
#nav ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
}
#nav li{
    float: left;
}